NEXT_PUBLIC_BACKEND_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_GOOGLE_CLIENT_ID=1033857674765-bn6paiee842i6eemj6e3e8n6tqn8008i.apps.googleusercontent.com

STRIPE_PUBLISHABLE_KEY=pk_test_51SMoXcRrCKSfNgBSyL6kroBrjIi98cYqD0lNbRjMhC0s2qyOmcrm18K4c5ggsToEWk1u5Mgq6odFV3Fac8LmhRAB00hUrIxMOR

# Testing Credentials
# Freelancer
# Email: therapist1@test.com
# Password: password123

# User
# Email: patient1@test.com
# Password: password123

# Admin
# Email: admin@test.com
# Password: password123